apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: todo-app-pv
          persistentVolumeClaim:
            claimName: todo-app-claim
      containers:
        - name: todo-app
          image: autorejecttop/todo-app:1.12
          imagePullPolicy: Always
          volumeMounts:
            - name: todo-app-pv
              mountPath: /usr/src/app/files
          env:
            - name: PORT
              value: "3000"
